* {
  box-sizing: border-box;
}

/* background image for my page */

#background {
  background: url("https://ak6.picdn.net/shutterstock/videos/28510186/thumb/1.jpg")
    no-repeat;
  width: 100%;
  position:relative;
  background-size: cover;
  background-blend-mode: normal;
  background-attachment: fixed;
  bottom: auto;
  overflow: hidden;
}


/* sticky footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
  padding-bottom: 1em;
  background-color:lightseagreen;
  color: white;
  text-align: center;
  opacity: .7;
}


.inner {
  background-color: lightseagreen;
  padding-top: 1.5em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.entry h3 {
  position: absolute;
  background: none;
  border-top: dashed;
  border-bottom: dashed;
  border-width: 2px;
  border-color: lightseagreen;
  bottom: 20px;
  font-size: 15px;
  color: white; opacity: .9;
  background-color: black; opacity: .5;
 
}

.entry :hover h3 {
  position: absolute;
  background: none;
  border-top: dashed;
  border-bottom: dashed;
  border-width: 2px;
  border-color: lightseagreen;
  bottom: 20px;
  font-size: 15px;
  color: white; opacity: .9;
  background-color: lightseagreen; opacity: .95;
  
}


.img-wrapper {
  width: 100%
}

@media screen and (min-width: 768px){
  .img-wrapper {
      width: 50%
  }
}

@media screen and (min-width: 992px){
  .img-wrapper {
      width: 33%
  }
}



